@mixin button-mixin($background, $background-hover, $border, $border-hover, $text, $text-hover) {
  background: $background;
  color: $text;
  border: 1px solid $border;
  &:hover{
    box-shadow: 0 0 10px $background-hover;
    color: $text-hover;
  }
}

.button{
  outline: 0;
  &:hover{
    outline: 0;
  }
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  padding: 10px 20px 8px;
  font-size: 13px;
  transition: all 0.2s ease;
  border: 1px solid transparent;
  cursor: pointer;
  &.button0{
    @include button-mixin($green, $green-lt2, $green, $green, $black, $black);
  }
  &.button1{
    @include button-mixin($black, $green, $green, $green, $green, white);
  }
  &.button5{
    @include button-mixin($purple, $purple-lt1, $purple, $purple, $black, $black);
  }
  &.button6{
    @include button-mixin($black, $purple, $purple, $purple, $purple, white);
  }
  &.button8{
    @include button-mixin($yellow, $yellow-lt1, $yellow, $yellow, black, black);
  }
  &.button9{
    @include button-mixin($black, $yellow, $yellow, $yellow, $yellow, black);
  }
  &.width100{
    width: 100% !important;
  }
}

.pill-buttons{
  span{
    font-size: 11px;
    cursor: pointer;
    &:hover, &.selected{
      background-color: $green;
      color: white;
    }
  }
  span:first-child{
    padding: 8px 10px 6px 13px;
    border-radius: 7px 0 0 7px;
    border: solid $green 2px;
  }
  span:last-child{
    padding: 8px 10px 6px 13px;
    border-radius: 0 7px 7px 0;
    border: solid $green 2px;
    border-left: 0;
  }
}

.pill{
  cursor: none !important;
  border-radius: 26px;
  padding: 5px 15px 4px;
  font-size: 11px;
}
