.main-card{
  border-radius: 5px;
  // box-shadow: -5px 0 30px #f0f, 5px 0 30px #0ff;
  border: solid 1px #0ff;
  box-shadow: 0 0 5px #0ff;
  background-color: rgba(14, 19, 22, 0.7);
  .card-label{
    position: absolute;
    left: 0px;
    top: 0px;
    color: white;
    font-size: 9px;
    padding: 2px 5px 0px;
    width: 100%;
    border-bottom: 1px solid $green;
  }
}
