.table{
  color: white;
  &.small-table{
    font-size: 12px;
  }
}

.fake-table{
  span{
    display: inline-block;
  }
  @for $i from 0 through 100{
    .wid#{$i}{
      width: #{$i}% !important;
    }
  }
  .thead{
    color: white;
    font-size: 12px;
    border-bottom: 2px solid white;
  }
  .tr{
    border-bottom: 1px solid $green;
    font-size: 12px;
    padding: 3px 0;
  }
}
