#game-results-modal{
  .modal-content{
    width: 500px;
    position: relative;
    background-color: $black;
    padding: 2px;
  }
  #game-results-image{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.2;
  }
  #game-results-header{
    text-align: center;
    padding: 60px;
    h2{
      font-size: 64px;
      margin-bottom: -30px;
    }
    img{
      position: absolute;
      width: 100%;
      opacity: 0.4;
      left: 0;
      top: 0;
    }
  }
  #game-results-table{
    text-align: center;
    .thead{
      text-shadow: 2px 2px white;
      color: white;
      font-size: 14px;
      text-shadow: none;
    }
    .game-result{
      border-bottom: 1px solid $green;
      .game-result-name{
        text-shadow: 2px 2px white;
        color: white;
        font-size: 14px;
        text-shadow: none;
      }
      .game-result-status{
        text-shadow: 2px 2px $green-lt;
        color: $green-lt;
        font-size: 20px;
        text-shadow: none;
      }
      .game-result-challenges{
        text-shadow: 2px 2px white;
        color: white;
        font-size: 14px;
        text-shadow: none;
      }
    }
    .losers{
      .game-result{
        border-bottom: 1px solid #cf193d;
        .game-result-status{
          color: #cf193d;
        }
      }
    }
  }
  .button{
    width: 100%;
    margin-top: 30px;
  }
}
