#overlay-tiles{
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 100;
  display: flex;
}
.overlay-tile{
  width: 2vw;
  opacity: 0.3;
  height: 100vh;
  &.visible{
    background-color: #ff2dff;
  }
}
