#overlay-tiles{
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 100;
  opacity: 0.8;
  display: flex;
  flex-wrap: wrap;
  .overlay-tile{
    background-color: $green;
    width: 5vw;
    height: 10vh;
  }
}
